
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>LeMonde Health and Development</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<meta content="Author" name="WebThemez">
<!-- Favicons -->
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<!-- Libraries CSS Files -->
<link th:href="@{/lib/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet">
<link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
<link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}"
	rel="stylesheet">
<link th:href="@{/lib/magnific-popup/magnific-popup.css}"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/font-icon.css}">
<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">

<!-- Main Stylesheet File -->
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">name@websitename.com</a>
        <i class="fa fa-phone"></i> +1 2345 67855 22
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
		<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<h1>
					<a th:href="@{/lhd/Home}" class="scrollto"><i
						class="icon"><img width="50" th:src="@{/img/logo.svg}"/></i> Le Monde </a>
				</h1>
				<!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li ><a th:href="@{/lhd/Home}">Home</a></li>
					<li><a th:href="@{/lhd/about}">About Us</a></li>
					<li><a th:href="@{/lhd/service}">Services</a></li>
					<li><a th:href="@{/lhd/experiance}">Experience</a></li>
					<li class="menu-has-children"><a href="">Clients</a>
						<ul>
							<li><a th:href="@{/lhd/clientinethiopia}">In Ethiopia</a></li>
							<li><a th:href="@{/lhd/otherclients}">Other Countries</a></li>
							
						</ul></li>
					<li class="menu-active"><a th:href="@{/lhd/contact}">Edit Contact</a></li>
				</ul>
			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>

<!--==========================
    Page Banner Section
  ============================-->
  <section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>Edit Contact</span><br>Straving for Excellence and Lasting Change!</h2>
      <div> 
      </div>
    </div> 
  </section><!-- #Page Banner -->

  <main id="main">
 

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header"> 
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="row contact-info">
         <div class="col-lg-5"> 
          <form name="sentMessage" class="well" id="contactForm"  novalidate th:action="@{/lhd/contact}"
          th:object="${newContact}"	method="POST" > 
        <div class="control-group">
           <div class="form-group">
              <input type="text" class="form-control" placeholder="Add Address" id="name" required th:field="*{name}"
                data-validation-required-message="Please enter your Address" />
                <p class="help-block"></p>
                <button type="submit" class="btn btn-primary pull-right">Add</button><br /><br />
           </div>
           <div class="form-group">
            <input type="text" class="form-control" placeholder="Phone Number" id="name" required th:field="*{name}"
              data-validation-required-message="Please enter your Phone Number" />
              <p class="help-block"></p>
              <button type="submit" class="btn btn-primary pull-right">Add</button><br /><br />
         </div>
         <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" id="name" required th:field="*{name}"
            data-validation-required-message="Please enter your Email" />
            <p class="help-block"></p>
            <button type="submit" class="btn btn-primary pull-right">Add</button><br /><br />
          
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Link" id="name" required th:field="*{name}"
                data-validation-required-message="Please enter your Email" />
                <p class="help-block"></p>
                <button type="submit" class="btn btn-primary pull-right">Add Link</button><br />
           </div> 
       </div>          
      </div> 	 
      

</form>
		 </div>
		 <div class="col-lg-7">
		      <div class="container">
        <div class="form"> 
		  
		   <!-- Form itself -->
          <form name="sentMessage" class="well" id="contactForm"  novalidate th:action="@{/lhd/contact}"
										th:object="${newContact}"	method="POST" > 
                    <form action="#">
                      <label for="lang">Select</label>
                      <select name="languages" id="lang">
                        <optgroup label="Choice">
                          <option value="Address">Address</option>
                          <option value="Phone">Phone Number</option>
                          <option value="Email">Email</option>
                        </optgroup>                       
                      </select>
                </form>


		        <div class="control-group">
              <div class="form-group">
			          <input type="text" class="form-control" 
			   	      placeholder="Edit Address" id="name" required th:field="*{name}"
			          data-validation-required-message="Please enter your Address" />
                <p class="help-block"></p>
			          <button type="submit" class="btn btn-primary pull-right">Save</button><br /><br />

		          </div>
	          </div> 	
            <div class="form-group">
              <div class="controls">
			          <input type="email" class="form-control" placeholder="Edit phone Number" 
			   	      id="email" required th:field="*{email}" data-validation-required-message="Please enter your email" />
                <p class="help-block"></p>
                <button type="submit" class="btn btn-primary pull-right">Save</button><br /><br />
		          </div>
	          </div> 
            <div class="form-group">
              <div class="controls">
			          <input type="email" class="form-control" placeholder="Edit Email" 
			   	      id="email" required th:field="*{email}"
			   		    data-validation-required-message="Please enter your email" />
		          </div>
	          </div> 	
			  
            <div class="form-group">
              <div class="controls">
				
		          </div>
            </div> 		 
	          <div id="success"> </div> <!-- For success/fail messages -->
	            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </form>
        </div>

      </div>
		 </div>
         

        </div>
      </div>

 
      <div class="container mb-4 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.5348696893707!2d38.78105031366575!3d9.014874493530636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b857490af8af3%3A0x979ce5703b0e5957!2sLem+Hotel!5e0!3m2!1sen!2set!4v1553023393272" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BizTech</strong>. All Rights Reserved
      </div>
      <div class="credits"> 
         Best <a href="https://webthemez.com/free-bootstrap-templates/">Bootstrap Templates</a> by WebThemez
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript  -->
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/lib/easing/easing.min.js}"></script>
	<script th:src="@{/lib/superfish/hoverIntent.js}"></script>
	<script th:src="@{/lib/superfish/superfish.min.js}"></script>
	<script th:src="@{/lib/wow/wow.min.js}"></script>
	<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
	<script th:src="@{/lib/magnific-popup/magnific-popup.min.js}"></script>
	<script th:src="@{/lib/sticky/sticky.js}"></script>
	
	
	<script th:src="@{/js/main.js}"></script>

</body>
</html>
