
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>LeMonde Health and Development</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<meta content="Author" name="WebThemez">
<!-- Favicons -->
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<!-- Libraries CSS Files -->
<link th:href="@{/lib/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet">
<link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
<link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}"
	rel="stylesheet">
<link th:href="@{/lib/magnific-popup/magnific-popup.css}"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/font-icon.css}">
<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">

<!-- Main Stylesheet File -->
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body id="body">

	<!--==========================
    Top Bar
  ============================-->
	<section id="topbar" class="d-none d-lg-block">
		<div class="container clearfix">
			<div class="contact-info float-left">
				<i class="fa fa-envelope-o"></i> <a
					href="mailto:contact@example.com">name@websitename.com</a> <i
					class="fa fa-phone"></i> +1 2345 67855 22
			</div>
			<div class="social-links float-right">
				<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> <a
					href="#" class="facebook"><i class="fa fa-facebook"></i></a> <a
					href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
				<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> <a
					href="#" class="instagram"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</section>

	<!--==========================
    Header
  ============================-->
	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<h1>
					<a th:href="@{/lhd/Home}" class="scrollto"><i class="icon"><img
							width="50" th:src="@{/img/logo.svg}" /></i> Le Monde </a>
				</h1>
				<!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>

			<nav id="nav-menu-container">

				<ul class="nav-menu">
					<li><a th:href="@{/Admin/Home}">Home</a></li>
					<li><a th:href="@{/Admin/editAbout}">abt & testimony</a></li>
					<li class="menu-active"><a th:href="@{/Admin/editService}">Services</a></li>
					<li><a th:href="@{/Admin/editExperiance}">Experience</a></li>
					<li><a th:href="@{/Admin/editClient}">Clients</a></li>
					<li class="menu-has-children"><a href="">More</a>
						<ul>
							<li><a th:href="@{/Admin/editVaccancy}">Edit Vacancy</a></li>
							<li><a th:href="@{/Admin/Register}">Add Admin</a></li>

						</ul></li>
					<li><a th:href="@{/Admin/editContact}">Contact</a></li>
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>

			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>

	<!-- #header -->

	<!--==========================
    Page Banner Section
  ============================-->
	<section id="innerBanner">
		<div class="inner-content">
			<h2>
				<span>Add Or Edit Services</span> <br>Striving for Excellence and Lasting
				Change!
			</h2>
			<div></div>
		</div>
	</section>
	<!-- #Page Banner -->

	<main id="main"> <!--==========================
      Services Section
    ============================-->
	<section id="services">

		


		<div class="container">
			<div class="row">
				

					<div class="container">
						<div class="section-header" th:object="${Service}">
							<h2>Our Service</h2>
							<form name="sentMessage" class="well" id="contactForm" novalidate
								th:action="@{/Admin/editAbout/saveOthersText}" method="POST"
								row="8">
								<input type="hidden" name="Id" th:field="*{Id}" /> <input
									type="hidden" th:field="*{type}" /> <input type="hidden"
									th:field="*{page}" />
								<div class="control-group">
									<div class="form-group">
										<textarea class="form-control" rows="8"
											placeholder="Operational Capacity" id="name" required
											th:field="*{detailText}"
											data-validation-required-message="Please enter your name">
											</textarea>
										<span class="text-danger" th:if="${#fields.hasErrors('Id')}"
											th:errors="*{detailText}">Last Name Error </span>
									</div>
								</div>
								<div id="success"></div>
								<br />
								<!-- For success/fail messages -->
								<button type="submit" class="btn btn-primary pull-right">Save</button>
								<br />
							</form>
						</div>
					</div>
				</div>

			<div class="row">

				<div class="col-lg-4" th:each="service :${services}">
					<div class="box wow fadeInLeft">
						<div class="icon">
							<i class="icon icon-briefcase"></i>
						</div>	
						<h4 class="title">
							<a th:href="@{/lhd/services/}+''+${service.serviceName}"
								th:text="${service.serviceName}"></a>
						</h4>
						<p class="description" th:text="${service.detailText}"></p>
					</div>

					<div>
						<form th:action="@{/Admin/editService/delete}" method="POST"
							name="sentMessage">
							<input type="hidden" name="serviceId" th:value="${service.Id}">
							<button type="submit" class="btn btn-primary ">Delete</button>
							<br />

						</form>
						<br />

						<form th:action="@{/Admin/editService/edit}" method="POST"
							name="sentMessage">
							<input type="hidden" name="serviceId" th:value="${service.Id}">
							<button type="submit" class="btn btn-primary">Edit</button>

						</form>
						<br />

					</div>


				</div>

			</div>
		</div>
	</section>
	<!-- #call-to-action -->
	<section id="contact" class="wow fadeInUp">
		<div class="container">

			<div class="row contact-info">
				<div class="col-lg-5"></div>
				<div class="col-lg-7">
					<div class="container">
						<div class="form">

							<!-- Form itself -->
							<form name="sentMessage" class="well" id="contactForm" novalidate
								th:object="${newService}" th:action="@{/Admin/editService}"
								method="POST" enctype="multipart/form-data">
								
								<div class="control-group">
									<div class="form-group">
										<input type="file" name="img" class="form-control"
											placeholder="logo" value="Logo" id="img" required />
									</div>
								</div>
								<div class="control-group">
									<div class="form-group">
										<input type="text" class="form-control"
											placeholder="Service Name" id="name" required
											th:field="*{serviceName}"
											data-validation-required-message="Please enter your name" />
										<span class="text-danger"
											th:if="${#fields.hasErrors('serviceName')}"
											th:errors="*{serviceName}">Last Name Error </span>
									</div>
								</div>
								<div class="control-group">
									<div class="form-group">
										<textarea class="form-control" rows="8"
											placeholder="Detail Service" id="name" required
											th:field="*{detailText}"
											data-validation-required-message="Please enter your name">
											</textarea>
										<span class="text-danger" th:if="${#fields.hasErrors('detailText')}"
											th:errors="*{detailText}">Last Name Error </span>
									</div>
								</div>
								


								<div id="success"></div>
								<br />
								<!-- For success/fail messages -->
								<button type="submit" class="btn btn-primary pull-right">Add</button>
								<br />
							</form>
						</div>

					</div>
				</div>


			</div>
			<!-- #services -->
			<!--==========================
      Clients Section
    ============================-->
	</section>
	</main>

	<!--==========================
    Footer
  ============================-->
	<footer id="footer">
		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong>BizTech</strong>. All Rights Reserved
			</div>
			<div class="credits">
				Best <a href="https://webthemez.com/free-bootstrap-templates/">Bootstrap
					Templates</a> by WebThemez
			</div>
		</div>
	</footer>
	<!-- #footer -->

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- JavaScript  -->
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/lib/easing/easing.min.js}"></script>
	<script th:src="@{/lib/superfish/hoverIntent.js}"></script>
	<script th:src="@{/lib/superfish/superfish.min.js}"></script>
	<script th:src="@{/lib/wow/wow.min.js}"></script>
	<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
	<script th:src="@{/lib/magnific-popup/magnific-popup.min.js}"></script>
	<script th:src="@{/lib/sticky/sticky.js}"></script>

	<script th:src="@{/js/main.js}"></script>

</body>
</html>
